.searchBar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 24px 0 0;
}

.searchItem {
  display: inline-flex;
  align-items: center;
  margin-bottom: 24px;
  width: 300px;
}

.searchLabel {
  margin-right: 12px;
  display: inline-block;
  width: 108px;
  text-align: right;
}

.searchInput {
  width: 180px;
}
